.colorAqua {
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.colorBrown {
  background-color: rgb(243, 113, 57);
}

.border-topp {
  border-top: 5px solid white;
}

.colorWhite {
  color: white;
}

.borderRadiusTop {
  border-top-left-radius: "10px";
  border-top-right-radius: "10px";
}

.maxHeigth {
  max-height: 300px;
}

.img-limit {
  width: 100%;
  height: 100%;
  max-height: 300px;
  object-fit: cover;
}

.LinkSelect {
  font-weight: bold;
  transform: scale(1.5);
}

.PositionStatic {
  position: fixed;
  z-index: 10000;
}

.SpaceBetween {
  display: flex;
  justify-content: space-between;
}

body {
  background-color: white;
  color: black;
}

html.dark body {
  background-color: #212529;
}

html.dark .content-info,
html.dark .card,
html.dark footer,
html.dark .lugarDeatial,
html.dark nav {
  background-color: #3f3f3f;
  color: white;
}

html.light footer,
html.light nav {
  background-color: #212529;
}
